# Log file
LOG_FILE="/home/pi/piGuardian/log/piGuardian.log"
LOG_FILE_MAX_SIZE=1048576 # 1MB

# Status directory
STATUS_DIR="/home/pi/piGuardian/state"

# Event directory
EVENT_DIR="/home/pi/piGuardian/events"

# Posizione gpio
GPIO="/usr/local/bin/gpio"

# Posizione js
#JQ="/usr/local/bin/jq"

# Percorso curl
#CURL="/usr/bin/curl"

# Percorso wc
WC="/usr/bin/wc"

# Percorso gzip
GZIP="/bin/gzip"

# Percorso mv
MV="/bin/mv"

# Percorso di tr
TR="/usr/bin/tr"

# Percorso di cut
CUT="/usr/bin/cut"

# Percorso tcpserver
#TCPSERVER="/usr/bin/tcpserver"

# Percorso cron
#CRONTAB="/usr/bin/crontab"

# Percorso grep
GREP="/bin/grep"

# Percorsp sed
SED="/bin/sed"

# Percorso readlink
READLINK="/bin/readlink"

# Percorso mosquito_pub
# Installare con apt install mosquitto-clients
MOSQUITTO_PUB="/usr/bin/mosquitto_pub"



# Tempo di attesa tra una lettura e l'altra dei sensori
DELAY_LOOP_STATE=0.05


# Valore in ingresso dei gpio relativi ai sensori perimetrali che indica lo stato di apertura
PERIMETRAL_GPIO_STATE=1

# Numero totale di sensori perimetrali
PERIMETRAL_TOTAL=3

# Definizione dei sensori perimetrali
PERIMETRAL1_ALIAS="P1" 			#
PERIMETRAL1_GPIO=17			# Gpio 0 / Physical 11

PERIMETRAL2_ALIAS="PT_FINESTRE" 	#
PERIMETRAL2_GPIO=27			# Gpio 2 / Physical 13

PERIMETRAL3_ALIAS="PT_PORTE" 		#
PERIMETRAL3_GPIO=22			# Gpio 3 / Physical 15



# Valore in ingresso dei gpio relativi ai sensori pir che indica lo stato di apertura
PIR_GPIO_STATE=1

# Numero totale di sensori pir
PIR_TOTAL=0

# Definizione dei sensori pir
PIR1_ALIAS="P1" 			#
PIR1_GPIO=19				# Gpio 24 / Physical 35

PIR2_ALIAS="PT_INGRESSO" 		#
PIR2_GPIO=16				# Gpio 27 / Physical 36

PIR3_ALIAS="PT_CUCINA"			#
PIR3_GPIO=26				# Gpio 25 / Physical 37

PIR4_ALIAS="PT_BAGNO" 			#
PIR4_GPIO=20				# Gpio 28 / Physical 38


# Valore in ingresso dei gpio telativi ai sensori tamper che indica lo stato di manomissione
TAMPER_GPIO_STATE=1

# Numero totale di sensori tamper
TAMPER_TOTAL=0

# Definizione dei sensori temper
TAMPER1_ALIAS="PERIMETRAL_P1"		#
TAMPER1_GPIO=0				#


# Valore gpio da scrivere per attivare spengere la sirena
SIREN_GPIO_STATE_ON=1
SIREN_GPIO_STATE_OFF=0

# Numero totele di sirene
SIREN_TOTAL=1

#
SIREN1_ALIAS="SIRENA_INTERNA"		#
SIREN1_GPIO="18"			# Gpio 1 / Physical 12


# Indirizzo ip e porta di ascolto del socket server
TCPSERVER_IP="127.0.0.1"
TCPSERVER_PORT="8084"

# Utente e password che i clients devono utilizzare per stabilire una connessione tramite socket server
TCPSERVER_USER=""
TCPSERVER_PWD=""

# Parametri connessione al broker mqtt
MQTT_ENABLE=0	# set 1 to enable
MQTT_HOST=you_host_mqtt
MQTT_PORT=1883
MQTT_USER=your_user_mqtt
MQTT_PWD=yout_password_mqtt
MQTT_TOPIC="piguardian/result"
MQTT_CLIENT_ID=piGuardian

